@model AccountsCard

@{
    ViewBag.Title = "Cuentas";
}

@if (ViewBag.IdList > 0 && ViewBag.Controlador == 0)
{
    @Html.Partial("Partials/_Menu", Model)
}

@if (ViewBag.IdList > 0 && ViewBag.Controlador == 1)
{
    @Html.Partial("~/Views/Accounts/Partials/_Menu.cshtml", Model)
}

<h1 class="page-header">
    <button id="contact-new" type="button" class="btn btn-default pull-right btn-sm">
        <i data-toggle="tooltip" data-placement="top" title="Nueva categoría" class="fa fa-plus"></i>
    </button>
    @ViewBag.Title
</h1>


<div id="list"></div>

<!-- Modal -->
<div class="modal fade" id="account-edit" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            @using (Html.BeginForm("ContactSave", "Contact", FormMethod.Post))
            {
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                    <h4 class="modal-title" id="myModalLabel">Contacto</h4>
                </div>
                <div class="modal-body">
                    <contacts url="@Url.Action("GetContact", "Contact")"></contacts>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                    <button type="submit"
                            data-reset="true"
                            data-ajax="true"
                            class="btn btn-primary">
                        Guardar
                    </button>
                </div>
            }
        </div>
    </div>
</div>


@section Scripts {
    <script src="~/Assets/vue_components/dist/contacts.components.js"></script>
    <script>
        $(document).ready(function () {

            let conf = {
                class: 'table-striped table-bordered',
                columnas: [
                    { leyenda: 'Empresa', columna: 'AccountName' },
                    { leyenda: 'Contacto', columna: 'FullName' },
                    { leyenda: 'Industria', columna: 'Industry' },
                    { leyenda: 'Sector', columna: 'Sector' },
                    { leyenda: 'Detalle', style: 'width:40px;' },
                    { leyenda: 'Eliminar', style: 'width:40px;' },
                    { leyenda: 'Editar', style: 'width:40px;' }
                ],
                modelo: [
                    { propiedad: 'AccountName' },
                    { propiedad: 'FullName' },
                    {
                        propiedad: 'Industry', formato: function (tr, obj, value) {
                            for (var k in Enums.Industry) {
                                if (Enums.Industry[k].value === value) {
                                    return Enums.Industry[k].description;
                                }
                            }
                        }
                    },
                    {
                        propiedad: 'Sector', formato: function (tr, obj, value) {
                            for (var k in Enums.Sector) {
                                if (Enums.Sector[k].value === value) {
                                    return Enums.Sector[k].description;
                                }
                            }
                        }
                    },
                    {
                        propiedad: 'Id', formato: function (tr, obj, value) {
                            return '<button value="' + value + '" type="button" class="btn btn-success account-detail"><i class="fa fa-eye"></i></button>';
                        }
                    },
                    {
                        propiedad: 'Id', formato: function (tr, obj, value) {
                            return '<button value="' + value + '" type="button" class="btn btn-danger account-delete"><i class="fa fa-trash"></i></button>';
                        }
                    },
                    {
                        propiedad: 'Id', formato: function (tr, obj, value) {
                            return '<button value="' + value + '" type="button" class="btn btn-primary account-edit"><i class="fa fa-edit"></i></button>';
                        }
                    },
                ],
                url: '@Url.Action("GetAccounts", "Accounts", new { id = ViewBag.IdList })',
                limite: 20,
                paginable: true,
                columna: 'AccountName',
                columna_orden: 'ASC'
            };

            let grid = $("#list").anexGrid(conf);

            // WORK IN PROGRESS
            grid.tabla().on('click', '.account-detail', function () {
                let value = $(this).val();
                location.href = "/Accounts/Details/" + value;
            })

            grid.tabla().on('click', '.account-edit', function () {
                let value = $(this).val();
                $("#account-edit").modal('show');
                $Vm.$emit('contactSelectID', value);
            })

            grid.tabla().on('click', '.account-delete', function () {
                let value = $(this).val();

                if (!confirm('Esta seguro de eliminar este registro?')) return;

                $.post('@Url.Action("DeleteContact", "Contact")', {
                    id: value
                }, function(r) {
                    if (!r.Response) {
                        alert(r.Message)
                    } else {
                        grid.refrescar();
                    }
                }, 'json')
            })

            $("#contact-new").click(function() {
                $("#contact-edit").modal('show');
                $Vm.$emit('contactSelectID', 0);
            })
        })
    </script>

}
